/*On commence par sélectionner tout avec le wildcard, puis on applique
une marge et padding uniformes pour ignorer les différences entre chaque
navigateur*/

/*Ne pas oublier les espaces après les doubles points ni les points-virgules */
/*Ne pas utiliser de virgules pour les décimales*/
/*Les sélecteurs personnalisés sont sensible à la casse.*/

/*Il faut mettre le @font-face au début du code car il invoque la police au début du chargement du css (après que le css a été invoqué par le css).*/
@font-face {
	font-family: 'Roboto';
	src: url(‘/fonts/Roboto-Regular.woff2’) format(‘woff2’),
		url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’)
}

*{
    /* Marge = marge extérieure à notre boîte*/
    /* Padding = marge intérieure à notre boîte, utilisée pour agrandir facilement des éléments en responsive*/
    box-sizing: border-box; /* Alignement au bord de l'écran */
    /* autre méthode facile pour les polices courantes => font-family: Calibri; */
    font-family: 'Roboto', sans-serif;
}

    /* Mettre des pourcentages plutôt que des px dans la limite width arbitraire change le comportemetn du zoom. Tester en mode mobile sur l'inspecteur */


/******************************************************* Exemple *********************************************************************/

/* la suivante ligne h1 est un sélecteur,
ce qui est contenu à l'intérieur (e.g. color) est une valeur*/
h1{
    color:#006900;
}

/******************************************************* Header *********************************************************************/
.logo{
    /* Quand width est utilisé le paramètre height n'est souvent pas nécessaire car width change aussi la hauteur. */
    margin-right: 2em;
    width: 3em;
    border-radius: 50%;
   /* les valeurs de la box-shadow sont X-axis, Y-axis, blur, et spread.*/
   box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5) ;
   /*L'unité px em ou rem doit être collée au nombre choisi pour fonctionner*/

   animation: rainbowww 13s linear infinite;
}

.desktopMenu {
    background-color: darkolivegreen;
/* Attention, font-size influence la taille de mon logo (à cause de alt?) */
}

.desktopMenu .desktopList {
    display: flex ;
    align-items: center;
}

/*Pour agir sur un enfant de header, je préfère agir sur le nav que le div.
Agir sur le div ne fonctionnerait pas par défaut. nav=plus facile*/
/*On ne met pas de point car il n'y a pas d'appel de classe*/
.desktopMenu .desktopList li {
    display: inline;
    margin-left: 20px; /* On utilisera gap si on veut que l'espace soit entre chaque élément,
                        Ici, je préfère utilsier margin-left pour éloigner mon navbar du logo */
    text-shadow: 3px 3px 0px rgba(0,0,0,0.3) ;
}

/*Quand utilise comme sélecteur CSS une balise HTML préexistante comme main (qui n'est pas une classe qu'on a créée nous-même,
On ne mets pas de point devant pour l'appeler*/
.desktopMenu .desktopList li a {
    /* On enlève le soulignement des liens "a" (et les bullet points ?)*/
    /* On ne peut pas appliquer cette option au <li> juste avant
    qui n'est pas considéré comme un parent car il est sur la même ligne*/
    text-decoration: none;
    color: #556b2f;
    font-size: 2em;
}

/* On peut utiliser :hover ou :visited ici ((:visited ne fonctionnera que si toutes nos pages ont des headers))*/
/* On pourra utiliser :focus (barre de texte clignotante) ou :active avec le paramètres color-background */
.desktopMenu .desktopList li a:hover {
    color:#141306;
    font: weight;
}

.topButton {
    padding : 1em; /*Préférer un padding all-around plutôt que de forcer une height et une width, le padding s'adapte à la taille de ma police */
    border-style: none;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5) ;;
    /* On mettra un border-radius de 50% (tout pour un cercle*/
    border-radius: 10% 10% 10% 10% / 20% 20% 20% 20% ;
    border-color: white;
    border-width: 1px;
    background: #b9ce7d;
    transition-duration: 0.4s;
}

/*Pour indiquer le changement sur hover, il faut ajouter hover SANS ajouter d'espace après le double-point.*/
.topButton:hover {
   background-color: white;
}

/* --------------------------------------------------------------------------------Burger menu-------------------------------------------------------------------------------------------------------- */

/* On ne met pas mon logo dans la nav, uniquement les liens/boutons */

.mobileMenu {
    /* Pour que le menu reste en place quand on scroll */
    position: fixed;
    display: none;
}

.mobileLogo {
    width:1em;
}

/*.mobileList {
    display: flex;
    flex-direction: column;
    background: darkolivegreen;
    overflow: hidden; /* Le texte qui dépasse de la boîte sera caché à l'intérieur du div
    width: 200px;
    /* Pour que les liens soient "rangés" par défaut
    transform: translateX(-200px); /* Pour que la liste de liens du menu soit en position "rangé" par défaut, et un peu plus (-200) que le logo. 
}
*/

.mobileList {
    display: flex;
    flex-direction: column;
}

.mobileList li a {
    text-decoration: none;
    color: khaki;
}

#hamburger {
    /* Pour que la checkbox ne s'affiche pas */
    display: none;
}
  
#hamburger-logo {
  /* Pour que le curseur soit un pointeur */
  cursor: pointer;
  background: darkolivegreen;
  width: 200px;
  /* forme influencée par la forme parente ? */
  display: block; /* Sert à dire, je veux forcer le changement d'état du logo (translate:) */
  color: white;
  /* Pour que le menu hamburger s'affiche toujours */
  text-align: right;
    transform: translateX(-168px);   /* Pour que le menu hamburger soit en position "rangé" par défaut */
  padding: 10px;
  
}

#hamburger-logo, .mobileList {
  /* Pour qu'il y ait une animation */
  /* Ne pas le mettre uniquement sur le #hamburger:checked permet de mettre la transition à l'ouverture et la fermeture. */
  transition: 0.3s;
  outline: solid darkolivegreen 1px ;/* Cela me permet de remplir la ligne de 1px d'espace vide entre mon hamburger-logo et .mobileList */
}

/* Condition : #hamburger est coché, et sélection d'un ID adjacent dans le HTML (pas enfant de #hamburger) #hamburger-logo grâce à la tilde. */
/* Condition : #hamburger est coché, et sélection d'un ID adjacent dans le HTML (pas enfant de #hamburger) .mobileList grâce à la tilde. */
#hamburger:checked ~ #hamburger-logo, #hamburger:checked ~ .mobileList {
  /* Retour à la position d'origine 0 de l'axe X quand on coche */
  transform: translate(0);
}

.mobileList a {
    color: white ;
  text-decoration: none;
  padding: 10px;
  width: 100%; /* Permet de m'assurer que les liens prennent toute la longueur du .mobileList et que l'arrière plan en a:hover n'entoure pas que le texte mais le bouton au complet */
}

.mobileList a:hover {
  background: rgb(144, 163, 109);
}

/************************************************************************************ body ************************************************************************************************************/

body{
    /* On peut rajouter la valeur cover center au paramètre background*/
    /* On peut utiliser soit la paramètre background: ou background-repeat: ou background-machin */  
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-size : 1em;
    margin: 0 ; /* Nécessaire pour que la navbar et le menu ne flottent pas et soit collée au bord gauche */
    /* On peut aussi faire un background-position, background: url(), background: linear-gradient(90deg, #8360c3, #2ebf92); opacity:0,3; */
    /* width: 0px ; Censé faire en sorte que le menu ne soit pas sur le texte en position fermée, dans les faits ça casse tout. */
}

.content {
    margin-top: 1em;
    /* Je ne mets pas de margin: bottom pour éviter une double espacement entre les sections */
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    border: 1 px;
    border-color:#556b2f;
    border-style: solid;
}

.images {
    width: 20em;
    border-width: 1em;
    border-color: darkolivegreen;
    border-style: none;
    border-radius: 69% 31% 43% 57% / 48% 26% 74% 52% ;
}

.section1 {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section2 {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section2 a {
    text-decoration: none ;
    color: black ;
}

.margin2 {
    margin-left: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center
}
.fond2 {
    width: auto;
    height: auto;
    background: linear-gradient(180deg, #9ca86a, #556b2f);
    /* Attention  à ne pas utiliser de virgules pour les décimales ! ça casse tout !*/
    opacity: 1;
}

.texte a {
    text-decoration: none;
    color: black;
}

.spiel {
margin-bottom: 2em;
text-align:justify;
margin-right: 1em;
}

.flashcard {
    border: 1 px;
    border-color:#556b2f;
    border-style: solid;
    margin-bottom: 1em;
}

/* Pour sélectionner spécifiquement l'attribut "text" de input, je tape input[type="text"]*/
/* Pour sélectionner plusieurs attributs dans input, je crée un tableau à l'aide de is  */
input:is([type="text"], [type="email"], [type="number"], [type="tel"], [type="url"], [type="search"], [type="password"], [type="date"], [type="month"], [type="week"], [type="time"], [type="datetime-local"], [type="color"]) {
    background-color: #9ea77c;
   }

textarea {
    resize:none;
    background-color: green; 
 
   animation: rainbowww 13s linear infinite;

}

@keyframes rainbowww {
    0%{
        background-color: rgb(198, 198, 126);
    }
    25%{
       background-color: rgb(170, 216, 124);
    }
    45%{
        background-color: rgb(198, 198, 126);
    }
    70%{
        background-color: rgb(170, 216, 124);
    }
    85%{
        background-color: rgb(198, 198, 126);
    }
    100%{
        background-color: rgb(170, 216, 124);
     }
}

select {
    background-color: #9ea77c;
}

/* ------------------------------------------------- TABLEAUX BOITES ------------------------------------------------------------------------------------ */

.boxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Trois valeurs = trois colonnes */ /* 1fr = 150 px */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; /* L'unité fr (fractionnement) est responsive et spécifique au display:grid */
    gap: 10px; /*Idem que margin, permet d'éviter de devoir choisir une direction (left ou right) */
}

th {
    border: 4px solid darkolivegreen;
    padding: 4px ; /* Pour centrer de manière globale approximativement */
    text-align: center; /* Pour centrer horizontalement */
}

td {
    border: 2px solid darkolivegreen ;
    padding: 4px ;
    text-align: center;
}

table {
    margin:  0 auto ; /* s'applique sur l'objet-même. Permet de centrer un objet au centre de son conteneur parent. (Top et Bottom 0) (left et right rauto)*/
    border-collapse: collapse ; /* Permet d'enlever l'écart entre les cellules et avoir un tableau
                                Qui ressemble à un tableau*/
}

caption {
    font-size: 60px;
}

.boxAll {
    /* Pour notre grille on peut utiliser grid-column-start:1, grid-column-end:4, grid-row-start, grid-row-end */
    /* On peut aussi utiliser les déclarations grid-row: 1 / 4 (start et end) et grid-column: 1 / 3 */
    border: 1px solid #556b2f ;
    height: 100px; /* Cette boîte force une hauteur à la boîte, ce qui peut rentrer en conflit
                    avec les valeurs indiqués dans .contaier {grid-template-column} */
padding: 1em;
}


.box1 {
    grid-column: 1 / 5 ; /*Dans mon boxContainer, j'ai défini 5 colonnes, ma première colonne ira de l'arête de colonne 1 à la 5.*/
    grid-row: 1 / 2 ;
    }

.box2 {
    grid-column: 1 / 3 ;
    grid-row: 2 / 3 ;
}

.box3 {
    grid-column: 3 / 5 ;
    grid-row: 2 / 4 ;
    /* Ne pouvant pas lier la classe boxAll à ma boîte 3, je dois le respécifier dans sa classe propre*/
    height: 2fr;
    border: 1px solid #556b2f ;
}

.box4 {
    grid-column: 1 / 2 ;
    grid-row: 3 / 4 ;
}

.box5 {
    grid-column: 2 / 3 ;
    grid-row: 3 / 4 ;
}

.box6 {
    grid-column: 1 / 3 ;
    grid-row: 4 / 5 ;
}

.box7 {
    grid-column: 3 / 5 ;
    grid-row: 4 / 5 ;
}

.box8 {
    grid-column: 1 / 5 ;
    grid-row: 5 / 6 ;
}

/* ------------------------------------Boîtes de la deuxième section-----------------------------*/

.box2_2 {
    grid-column: 1 / 3 ;
    grid-row: 2 / 4 ;
        /* Ne pouvant pas lier la classe boxAll à ma boîte 2 de la section 2, je dois le respécifier dans sa classe propre*/
    height: 2fr;
    border: 1px solid #556b2f ;
}

.box3_2 {
    grid-column:3 / 4 ;
    grid-row: 2 / 3 ;
}

.box4_2 {
    grid-column: 4 / 5 ;
    grid-row: 2 / 3 ;
}

.box5_2 {
    grid-column: 3 / 5 ;
    grid-row: 3 / 4 ;
}

.box6_2 {
    grid-column: 1 / 5 ;
    grid-row: 4 / 5 ;
}

.box7_2 {
    grid-column: 1 / 2 ;
    grid-row: 5 / 6 ;
}

.box8_2 {
    grid-column: 2 / 5 ;
    grid-row: 5 / 6 ;
}

#bottomButton {
    width: 5em;
    height: 5em;
    border-style: solid;
    /* On mettra un border-radius de 50% (pour un cercle)*/
    border-radius: 50% ;
    border-color:#556b2f;
    background:#9ca86a;
    transition-duration: 0.4s;
}
.upArrow {
    width: 20px;
}

/************************************************************ Section 3 .wrapper ****************************************************************************/


.wrapper {
    display:flex;
    animation: change-background 3s infinite linear;
    position: relative;
    left: 75%;
    bottom: 50%;
    transform: scale(1.5, 1.5) translate(-50%, -50%);

    margin-top:20em;

}
  
.floor {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 55vw;
    height: 5px;
    background: #dbb8d8;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 5px #111;
    z-index: 2;
}
  
.candles {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 150px;
    transform: translate(-50%, -100%);
    z-index: 1;
}
  
.candle1 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 35px;
    height: 100px;
    background: #fff;
    border: 3px solid #dbb8d8;
    border-bottom: 0px;
    border-radius: 3px;
    transform-origin: center right;
    transform: translate(60%, -25%);
    box-shadow: -2px 0px 0px #95c6f2 inset;
    animation: expand-body 3s infinite linear;
}
  
.candle1__stick, .candle2__stick {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 3px;
    height: 15px;
    background: #dbb8d8;
    border-radius: 8px;
    transform: translate(-50%, -100%);
}
  
.candle2__stick {
    height: 12px;
    transform-origin: bottom center;
    animation: stick-animation 3s infinite linear;
}
  
.candle1__eyes, .candle2__eyes {
position: absolute;
left: 50%;
top: 0%;
width: 35px;
height: 30px;
transform: translate(-50%, 0%);
}

.candle1__eyes-one {
position: absolute;
left: 30%;
top: 20%;
width: 5px;
height: 5px;
border-radius: 100%;
background: #673C63;
transform: translate(-70%, 0%);
animation: blink-eyes 3s infinite linear;
}

.candle1__eyes-two {
position: absolute;
left: 70%;
top: 20%;
width: 5px;
height: 5px;
border-radius: 100%;
background: #673C63;
transform: translate(-70%, 0%);
animation: blink-eyes 3s infinite linear;
}

.candle1__mouth {
position: absolute;
left: 40%;
top: 20%;
width: 0px;
height: 0px;
border-radius: 20px;
background: #673C63;
transform: translate(-50%, -50%);
animation: uff 3s infinite linear;
}

.candle__smoke-one {
position: absolute;
left: 30%;
top: 50%;
width: 30px;
height: 3px;
background: grey;
transform: translate(-50%, -50%);
animation: move-left 3s infinite linear;
}

.candle__smoke-two {
position: absolute;
left: 30%;
top: 40%;
width: 10px;
height: 10px;
border-radius: 10px;
background: grey;
transform: translate(-50%, -50%);
animation: move-top 3s infinite linear;
}

.candle2 {
position: absolute;
left: 20%;
top: 65%;
width: 42px;
height: 60px;
background: #fff;
border: 3px solid #dbb8d8;
border-bottom: 0px;
border-radius: 3px;
transform: translate(60%, -15%);
transform-origin: center right;
box-shadow: -2px 0px 0px #95c6f2 inset;
animation: shake-left 3s infinite linear;
}

.candle2__eyes-one {
position: absolute;
left: 30%;
top: 50%;
width: 5px;
height: 5px;
display: inline-block;
border: 0px solid #673C63;
border-radius: 100%;
float: left;
background: #673C63;
transform: translate(-80%, 0%);
animation: changeto-lower 3s infinite linear;
}

.candle2__eyes-two {
position: absolute;
left: 70%;
top: 50%;
width: 5px;
height: 5px;
display: inline-block;
border: 0px solid #673C63;
border-radius: 100%;
float: left;
background: #673C63;
transform: translate(-80%, 0%);
animation: changeto-greater 3s infinite linear;
}

.light__wave {
position: absolute;
top: 35%;
left: 35%;
width: 75px;
height: 75px;
border-radius: 100%;
z-index: 0;
transform: translate(-25%, -50%) scale(2.5, 2.5);
border: 2px solid rgba(255, 255, 255, 0.2);
animation: expand-light 3s infinite linear;
}

.candle2__fire {
position: absolute;
top: 50%;
left: 40%;
display: block;
width: 16px;
height: 20px;
background-color: red;
border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
background: #FF9800;
transform: translate(-50%, -50%);
animation: dance-fire 3s infinite linear;
}
  
  @keyframes blink-eyes {
    0%,35% {
      opacity: 1;
      transform: translate(-70%, 0%);
    }
    36%,39% {
      opacity: 0;
      transform: translate(-70%, 0%);
    }
    40% {
      opacity: 1;
      transform: translate(-70%, 0%);
    }
    50%,65% {
      transform: translate(-140%, 0%);
    }
    66% {
      transform: translate(-70%, 0%);
    }
  }
  @keyframes expand-body {
    0%,40% {
      transform: scale(1, 1) translate(60%, -25%);
    }
    45%,55% {
      transform: scale(1.1, 1.1) translate(60%, -28%);
    }
    60% {
      transform: scale(0.89, 0.89) translate(60%, -25%);
    }
    65% {
      transform: scale(1, 1) translate(60%, -25%);
    }
    70% {
      transform: scale(0.95, 0.95) translate(60%, -25%);
    }
    75% {
      transform: scale(1, 1) translate(60%, -25%);
    }
  }
  @keyframes uff {
    0%,40% {
      width: 0px;
      height: 0px;
    }
    50%,54% {
      width: 15px;
      height: 15px;
      left: 30%;
    }
    59% {
      width: 5px;
      height: 5px;
      left: 20%;
    }
    62% {
      width: 2px;
      height: 2px;
      left: 20%;
    }
    67% {
      width: 0px;
      height: 0px;
      left: 30%;
    }
  }
  @keyframes change-background {
    0%,59%,98%,100% {
      background: #FFF;
    }
    61%,97% {
      background: #000;
    }
  }
  @keyframes move-left {
    0%,59%,100% {
      width: 0px;
      left: 40%;
    }
    60% {
      width: 30px;
      left: 30%;
    }
    68% {
      width: 0px;
      left: 20%;
    }
  }
  @keyframes move-top {
    0%,64%,100% {
      width: 0px;
      height: 0px;
      top: 0%;
    }
    65% {
      width: 10px;
      height: 10px;
      top: 40%;
      left: 40%;
    }
    80% {
      width: 0px;
      height: 0px;
      top: 20%;
    }
  }
  @keyframes shake-left {
    0%,40% {
      left: 20%;
      transform: translate(60%, -15%);
    }
    50%,54% {
      left: 20%;
      transform: translate(60%, -15%);
    }
    59% {
      left: 20%;
      transform: translate(60%, -15%);
    }
    62% {
      left: 18%;
      transform: translate(60%, -15%);
    }
    65% {
      left: 21%;
      transform: translate(60%, -15%);
    }
    67% {
      left: 20%;
      transform: translate(60%, -15%);
    }
    75% {
      left: 20%;
      transform: scale(1.15, 0.85) translate(60%, -15%);
      background: #fff;
      border-color: #673C63;
    }
    91% {
      left: 20%;
      transform: scale(1.18, 0.82) translate(60%, -10%);
      background: #F44336;
      border-color: #F44336;
      box-shadow: -2px 0px 0px #F44336 inset;
    }
    92% {
      left: 20%;
      transform: scale(0.85, 1.15) translate(60%, -15%);
    }
    95% {
      left: 20%;
      transform: scale(1.05, 0.95) translate(60%, -15%);
    }
    97% {
      left: 20%;
      transform: scale(1, 1) translate(60%, -15%);
    }
  }
  @keyframes stick-animation {
    0%,40% {
      left: 50%;
      top: 0%;
      transform: translate(-50%, -100%);
    }
    50%,54% {
      left: 50%;
      top: 0%;
      transform: translate(-50%, -100%);
    }
    59% {
      left: 50%;
      top: 0%;
      transform: translate(-50%, -100%);
    }
    62% {
      left: 50%;
      top: 0%;
      transform: rotateZ(-15deg) translate(-50%, -100%);
    }
    65% {
      left: 50%;
      top: 0%;
      transform: rotateZ(15deg) translate(-50%, -100%);
    }
    70% {
      left: 50%;
      top: 0%;
      transform: rotateZ(-5deg) translate(-50%, -100%);
    }
    72% {
      left: 50%;
      top: 0%;
      transform: rotateZ(5deg) translate(-50%, -100%);
    }
    74%,84% {
      left: 50%;
      top: 0%;
      transform: rotateZ(0deg) translate(-50%, -100%);
    }
    85% {
      transform: rotateZ(180deg) translate(0%, 120%);
    }
    92% {
      left: 50%;
      top: 0%;
      transform: translate(-50%, -100%);
    }
  }
  @keyframes expand-light {
    10%,29%,59%,89% {
      transform: translate(-25%, -50%) scale(0, 0);
      border: 2px solid rgba(255, 255, 255, 0);
    }
    90%,20%,50% {
      transform: translate(-25%, -50%) scale(1, 1);
    }
    95%,96%,26%,27%,56%,57% {
      transform: translate(-25%, -50%) scale(2, 2);
      border: 2px solid rgba(255, 255, 255, 0.5);
    }
    0%,28%,58%,100% {
      transform: translate(-25%, -50%) scale(2.5, 2.5);
      border: 2px solid rgba(255, 255, 255, 0.2);
    }
  }
  @keyframes dance-fire {
    59%,89% {
      left: 40%;
      width: 0px;
      height: 0px;
    }
    90%,0%,7%,15%,23%,31%,39%,47%,55% {
      left: 40.8%;
      width: 16px;
      height: 20px;
      background: #FFC107;
    }
    94%,3%,11%,19%,27%,35%,43%,51%,58% {
      left: 41.2%;
      width: 16px;
      height: 20px;
      background: #FF9800;
    }
  }
  @keyframes changeto-lower {
    0%,70%,90% {
      padding: 0px;
      display: inline-block;
      border-radius: 100%;
      background: #673C63;
      border-width: 0 0 0 0;
      border: 0px solid #673C63;
      transform: translate(-90%, 0%);
    }
    71%,89% {
      background: none;
      border: solid #673C63;
      border-radius: 0px;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 1px;
      float: left;
      transform-origin: bottom left;
      transform: rotate(-45deg) translate(-50%, -65%);
      -webkit-transform: rotate(-45deg) translate(-50%, -65%);
    }
  }
  @keyframes changeto-greater {
    0%,70%,90% {
      top: 50%;
      padding: 0px;
      display: inline-block;
      border-radius: 100%;
      background: #673C63;
      border-width: 0 0 0 0;
      border: 0px solid #673C63;
      transform: translate(-80%, 0%);
    }
    71%,89% {
      top: 30%;
      background: none;
      border: solid #673C63;
      border-radius: 0px;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 1px;
      float: left;
      transform-origin: bottom left;
      transform: rotate(135deg) translate(-80%, 20%);
      -webkit-transform: rotate(135deg) translate(-80%, 20%);
    }
  }

/***************************************************************** footer ***********************************************************************************/

.pageBottom {
    background-color: darkolivegreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navBottom ul li {
    display: inline ;
    color: khaki;
    margin-left: 20px;
}

/* *************************************************** media queries *********************************************************************** */
/*Il est toujours au bas du document, le caractère responsive est développé en dernier ****************************************************** */
/* On ne paramètre pas de and(min-width:0) */
/* On évite de configurer "en dur" la disparition d'élements (display:none) sur nos éléments .DesktopMenu et .mobileMenu dans le CSS normal, sinon le CSS du media query ne pourra pas overwrite ce paramètre.*/

/* Pour les tablettes */
@media screen and (max-width:800px) {
    .desktopMenu {
        display: none;
    }

    .mobileMenu  {
        display: block;
    }

    .images {
        width: 30vw; /*Avec l'unité vw (pourcents du viewport), la width de mes images grandit selon mon viewport */
    }

    .boxAll {
        padding: 1em;
       /* overflow: scroll; */
        font-size: 10px;
    }
}

@media screen and (min-width:800px) { /* Le min-width est plus difficile à appréhender */

    .mobileMenu {
        display: none;
    }
    .desktopMenu {
        display: flex;
    }
}

